<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="#" class="navbar-brand">Employee Data</a>
    </nav>
    <div class="container mt-5  ">
        <div class="row">
            <div class="col-md-8">
                <table class="table">
                    <thead class="bg-primary text-white">
                        <th>Table ID</th>
                        <th>Emp ID</th>
                        <th>Name</th>
                        <th>Salary</th>
                        <th>Email</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                        {% for emp in emp_list %}
                        <tr>
                            <td>{{emp.id}}</td>
                            <td>{{emp.eid}}</td>
                            <td>{{emp.ename}}</td>
                            <td>{{emp.esal}}</td>
                            <td>{{emp.eemail}}</td>
                            <td>
                                <a href="/edit/{{emp.id}}">Update</a>
                                <a href="/delete/{{emp.id}}">delete</a>
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
   
    
</body>
</html>